@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}

.bord {
    @apply border border-[red] ;
  }

.anime {
  @apply transition ease-in-out duration-500;
}


.button {
  @apply text-xl font-bold flex justify-center items-center bg-[#f3b643] w-[256px] h-[54px] rounded-md;
}